@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 18, 29;
  --background-end-rgb: 17, 18, 29;
}

@layer base {
  :root {
    --background: 240 23% 9%;
    --foreground: 0 0% 98%;
    
    --card: 240 21% 12%;
    --card-foreground: 0 0% 98%;
    
    --popover: 240 21% 12%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 258 90% 66%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 240 19% 16%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 240 19% 16%;
    --muted-foreground: 240 5% 64%;
    
    --accent: 258 90% 66%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 19% 16%;
    --input: 240 19% 16%;
    --ring: 258 90% 66%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#11121D] text-foreground;
  }
}